[submodule "Plugin/Paypal"]
	path = Plugin/Paypal
	url = git://github.com/robmcvey/cakephp-paypal.git
[submodule "app/Plugin/Paypal"]
	path = app/Plugin/Paypal
	url = git://github.com/webtechnick/CakePHP-Paypal-IPN-Plugin
[submodule "CakePHP-Paypal-IPN-Plugin"]
	path = CakePHP-Paypal-IPN-Plugin
	url = git://github.com/webtechnick/CakePHP-Paypal-IPN-Plugin
[submodule "app/Plugin/PaypalIpn"]
	path = app/Plugin/PaypalIpn
	url = git://github.com/webtechnick/CakePHP-Paypal-IPN-Plugin
