#slides {
    display: none;
}
#slides .slidesjs-navigation {
    margin-top: 3px;
}
#slides .slidesjs-previous {
    float: left;
    margin-right: 5px;
}
#slides .slidesjs-next {
    float: left;
    margin-right: 5px;
}
.slidesjs-pagination {
    float: right;
    list-style: none outside none;
    margin: 6px 0 0;
}
.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}
.slidesjs-pagination li a {
    background-image: url("/img/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 13px;
    width: 13px;
}
.slidesjs-pagination li a.active, .slidesjs-pagination li a.active:hover {
    background-position: 0 -13px;
}
.slidesjs-pagination li a:hover {
    background-position: 0 -26px;
}
#slides a:link, #slides a:visited {
    color: #333;
}
#slides a:hover, #slides a:active {
    color: #9e2020;
}